body{
    margin: 0px;
    padding: 0px;
}

*{
    margin: 0px;
    padding: 0px;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
a{
    text-decoration: none;
}
hr{
    height: 0px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
}
.topNavBar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.topNavBar .logo{
    float: left;
    font-size: 24px;
    font-family: "Arial Black";
    font-weight: bold;
    padding: 23.5px;
}
.topNavBar .logo .rs{
    color: #e6686a;
}
.topNavBar .logo .card{
    color: #9a9da2;
}
.navList{
    float: right;
    margin: 0;
    padding: 0;
}
.navList li{
    float: left;
    list-style: none;
}
.navList li a{
    display: block;
    font-size: 12px;
    padding: 8px 0px;
    margin: 25px 17px;
    color: #b7b7b7;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}
.navList li:last-child a{
    margin-right: 34px;

}
.navList li a:hover{
    border-bottom: 3px solid #e86767;
}
.banner{
    height: 515px;
    width: 100%;
    background-image: url(../images/rs-cover.jpg);
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,.8);
}
.userCard{
    max-width: 940px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: -400px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.userCard .welcome{
    color: white;
    background-color: #e86767;
    display: inline-block;
    padding: 4px 15px;
    line-height: 21px;
    position: relative;
}
.userCard .welcome .triangle{
    border: 10px solid transparent;
    width: 0px;
    border-top-width: 0px;
    border-left-color: #e86767;
    position: absolute;
    left: 10px;
    top: 100%;
}
.userCard .pictureAndText .picture{
    float: left;
    width: 40%;
}
.userCard .pictureAndText .text{
    box-sizing: border-box;
    float: left;
    width: 60%;
}
.userCard .pictureAndText .text h1{
    margin: 30px 0px 5px 0px;
}
.userCard .pictureAndText .text p{
    color: #424242;
}
.userCard .pictureAndText .text hr{
    margin: 20px 0px;
}
.userCard .pictureAndText{
    padding: 50px;
}
.userCard .pictureAndText .text dt{
    float: left;
    width: 30%;
    padding: 8px 0px;
    font-weight: bold;
}
.userCard .pictureAndText .text dd{
    float: left;
    width: 70%;
    padding: 8px 0;
    color: #a2a2a2;
}
.userCard .media{
    background-color: #e86767;
    text-align: center;
}
.userCard .media a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:10px;
}
.userCard .media a:hover{
    background-color: rgba(0,0,0,.2);
}
.userCard .media svg{
    width: 30px;
    height: 30px;
    padding: 10px;
    vertical-align: center;
    fill: white;
}
.downloadResume-wrapper{
    text-align: center;
    margin: 30px  0px;
}
.downloadResume{
    padding: 18px 60px;
    line-height: 20px;
    display: inline-block;
    border: 1px solid #c0c0c0;
    color: black;
    transition: box-shadow 0.2s linear;
}
.downloadResume:hover{
    box-shadow: 0px 3px 13px 3px rgba(0,0,0,.2);
}
.selfIntroduction{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px; 
    line-height: 20px;
}
section.skills,
section.portfolio{
    max-width: 940px;
    margin: 60px auto; 
}
section.skills h2,
section.portfolio h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-bottom: 3px;
  }
section.skills ol{
    list-style: none;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 10px;
    margin: 30px 0px;
}
section.skills ol li:nth-child(odd){
    width: 48%;
    float: left;
    box-sizing: border-box;
    padding-bottom: 30px;
}
section.skills ol li:nth-child(even){
    width: 48%;
    float: right;
    box-sizing: border-box;
    padding-bottom: 30px;
}
section.skills ol li:nth-child(5){
    padding-bottom: 0px;
}
section.skills ol li:nth-child(6){
    padding-bottom: 0px;
}
section.skills ol .progressBar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px; 
    position: relative;
}
section.skills ol .progress-60::before,
section.skills ol .progress-50::before,
section.skills ol .progress-30::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #E6686A;
    height: 5px;
    border-radius: 2px;
}
section.skills ol .progress-60::before{
    width: 60%;
}
section.skills ol .progress-50::before{
    width: 50%;
}
section.skills ol .progress-30::before{
    width: 30%;
}
section.portfolio nav{
    text-align: center;
    margin: 30px 0px;
}
section.portfolio ol{
    list-style: none;
    display: inline-block;
}
section.portfolio ol li{
    float: left;
    cursor: pointer;
}
section.portfolio ol li:nth-child(2){
    margin: 0px 40px;
}
section.portfolio nav .bar{
    height: 5px;
}
section.portfolio nav  .bar.state-1  .bar-inner,
section.portfolio nav  .bar.state-2  .bar-inner,
section.portfolio nav  .bar.state-3  .bar-inner{
    height: 5px;
    background-color: #E6686A;
    border-radius: 2px;
    transition: all 1s;
}
section.portfolio nav  .bar.state-1  .bar-inner{
    width: 35px;
    margin-left: 350px;
}
section.portfolio nav  .bar.state-2  .bar-inner{
    width: 35px;
    margin-left: 423px;
}
section.portfolio nav  .bar.state-3  .bar-inner{
    width: 95px;
    margin-left: 495px;
}
section.portfolio .jobs{
    position: relative;
}
section.portfolio .jobs #big_1,
section.portfolio .jobs #small_1,
section.portfolio .jobs #small_2{
    position: absolute;
    transition: all 0.4s;
}
section.portfolio .jobs #big_1{
    width: 606px;
    height: 597px;
}
section.portfolio .jobs #small_1,
section.portfolio .jobs #small_2{
    width: 293px;
    height: 289px;
}
section.portfolio .jobs #big_1 img,
section.portfolio .jobs #small_1 img,
section.portfolio .jobs #small_2 img{
    width: 100%;
    height: 100%;
}
section.portfolio .jobs #big_1 #big_1_picture,
section.portfolio .jobs #small_2  #small_2_picture{
    transition: all 0.4s;
}
section.portfolio .jobs #small_2  #small_2_picture.small_2_picture_2{
    transform: scale(0,0);
    transform-origin: 50% 50% 0;
}
section.portfolio .jobs #big_1 #big_1_picture.big_1_picture_1{
    transform: scale(0,0);
    transform-origin: 100% 0% 0;
}
section.portfolio .jobs #small_1.small-1{
    transform: translateX(-647px);
}
section.portfolio .jobs #small_2.small-2{
    transform: translate(-313px,-311px);
}