*{
    margin: 0px;
    padding: 0px;
    border: none;
    user-select: none;
}
html{
    position: fixed;
    left: 0;
    top: 0;
}
#canvas{
    background-color: #d6d6d6;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
}
#actions{
    position: fixed;
    top: 0px;
    left: 0px;
}
#actions .icon,
#setting .icon{
    width: 1.5em;
    height:1.5em;
    margin: 0.8em;
    transition: all 0.3S;
}
#actions svg.active{
    color: red;
    transform: scale(1.2);
}
#color{
    color: red;
}
#setting{
    position: fixed;
    top: 0px;
    right: 0px;
}
#footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 0px;
    transition: all 0.3s;
    overflow: hidden;
    background-color: #3b3b3b;
}
#footer.disappear{
    transform: scaleY(0);
    transform-origin: 50% 100%;
}
#footer.show{
    transform: scaleY(1);
    transform-origin: 50% 100%;
}
#hue{
    margin-top: 30px;
}
#lightness{
    margin-bottom: 30px;
}
#hue,#lightness{
    margin-left: 40px;
    margin-right: 40px;
}
#saturation{
    margin: 30px 40px;
}
#hueMove,#saturationMove,#lightnessMove{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #1e1e1e;;
}
#hueMove{
    position: absolute;
    left: 30px;
    top: 28px;
}
#saturationMove{
    position: absolute;
    left: 30px;
    top: 74px;
}
#lightnessMove{
    position: absolute;
    left: calc(((100vw - 20px)/2));
    top: 120px;
}
#selectThickness{
    position: fixed;
    top: calc((100vh/2) - 4em);
    right: 0px;
    transition: all 0.3s;
}
#selectThickness li{
    width:2em;
    list-style: none;
    text-align: center;
    padding: 0.5em;
    height: 1em;
    line-height: 1em;
    color: #d6d6d6;
    border-bottom: 1px solid gray;
    background-color: #1e1e1e;
    cursor: pointer;
}
#selectThickness.disappear{
    transform: scaleX(0);
    transform-origin: 100% 50%;
}
#selectThickness.show{
    transform: scaleX(1);
    transform-origin: 100% 50%;
}

