*{
    margin:0px;
    padding: 0px;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.outer{
    width: 60%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    font-size: 0px;
    margin: 0 auto;
}
.df{
    border: 1px solid gray;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    position: relative;
}
.Display{
    width:100%;
    height: 100%;
    object-fit: fill;
}
.operating{
    width: 100%; 
    margin: 30px auto;
    box-sizing: border-box;
}
.input,
.send{
    float: left;
    display: block;
    box-sizing: border-box;
}
.input{
    disabled: true;
}
.deleteButton,
.closeOrOpen{
    float: right;
    display: block;
    box-sizing: border-box;
    width: 10%;
    padding: 1px;
    position: relative;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}
.closeOrOpen{
    background-color: #2692ff;
}
.deleteButton{
    background-color: #da3e33;
    line-height: 30px;
    font-size: 16px;
    color: white;
}
.input{
    width: 40%;
    line-height: 30px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
}
.send{
    width: 10%;
    background-color: #1ba261;
    line-height: 30px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    padding: 1px;
    color: white;
    border: none;
    margin-left: 10px;
}
@media screen and (max-width: 767px){
    .input{
        width: 75%;
        margin-bottom: 5%;
    }
    .send{
        width: 20%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .deleteButton,
    .closeOrOpen{
        width: 45%;
        padding: 1px;
        margin-right: 0px;
    }
    .closeOrOpen{
        margin-right: 10%;
    }
    .outer{
        width: 100%;
    }
    .df{
        height: 40%;
    }
    .Display{
        width:100%;
    }
}
.operating .closeOrOpen .switchButton{
    float: left;
    line-height: 30px;
    width: 50%; 
    background-color: white; 
    color: #2692ff;
    position: relative;
    transition: 0.15s linear;
}
.operating .closeOrOpen .switchButton.on{
    border-radius: 5px 0px 0px 5px; 
    left: 0%;
}
.operating .closeOrOpen .switchButton.off{
    border-radius: 0px 5px 5px 0px;
    left: 50%;
    color: gray;
}
.operating .closeOrOpen.close{
    background-color: gray;
}
.danmuPlayer .moveSentence{
    font-size: 0.02rem;
}
.df .initialDanmu,
.df .addDanmu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80%;
    background-color: transparent;
    overflow: hidden;
}
.df .initialDanmu{
    z-index: 5;
}
.df .addDanmu{
    z-index: 7;
}
.df .initialDanmu .initialData{
    white-space: pre;  
}