@media screen and (max-width:768px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    ul,ol{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    body{
        font-size: 16px;
        width: 100vw;
    }
    .clearfix::after{
        content: '';
        display: block;
        clear: both;
    }
    .pageOuter{
        width: 100%;
        position: relative;
    }
    header{
        background-color: #d43c33;
        width: 100%;
        padding: 0px  2.6vw;
        height: 17vw;
    }
    header svg{
        height: 17vw;
        padding: 5.2vw 0px;
    }
    .topbar{
        box-sizing: border-box;
        width: 100%;
        height: 10.666666666667vw;
        outline: 1px solid #d3d3d3;
    }
    .topbar ol{
        display: flex;
    }
    .topbar ol li{
        width: 50vw;
        text-align: center;
        color: #d43c33;
    }
    .topbar ol li span{
        display: inline-block;
        font-size: 4vw;
        line-height: 4vw;
        padding: 3.333333333333vw 5px;
        position: relative;
    }
    .topbar ol li.active span:before{
        content: '';
        width: 100%;
        height: 2px;
        background-color: red;
        position: absolute;
        top: 10.133333333333vw;
        left: 0px;
    }
    .album div{
        float: left;
    }
    .title{
        width: 100vw;
        display: flex;
        line-height: 14px;
    }
    .title svg{
        width: 14px;
        height: 14px;
    }
    .newSongsInformation{
        position: absolute;
        top: 30vw;
        left: 0vw;
    }
    .newSongsInformation.hide{
        display: none;
    }
    .songListOuter.hide{
        display: none;
    }
    .album.hide{
        display: none;
    }
}