/*统一样式*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}
body{
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
/*默认样式*/
.pageOuter{
    width: 800px;
    height: 625px;
    border: 1px solid #c3a03f;
    box-shadow: 0 10px 30px 0px  rgb(218, 217, 217);
    position: relative;
}
.pageOuter>header{
    background-color: rgb(188,47,46);
    width: 100%;
    height: 30px;
    color: white;
    font-size: 12px;
    line-height: 12px; 
}

.pageOuter>header span{
    text-align: center;
    display: inline-block;
    width: 50px;
    padding: 9px 0px;
    cursor: default;
}
.pageOuter>header span:hover{
    background-color: #e20000;
}
.pageOuter>header span:nth-child(1){
    margin-right: 10px;
}
.pageOuter>header span:nth-child(2),
.pageOuter>header span:nth-child(3),
.pageOuter>header span:nth-child(4){
    float: right;
}
.page{
    display: flex;
    width: 100%;
    height: 592px;
}
.page.hide{
    display: none;
}
.playInterface{
    width: 100%;
    height: 592px;
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 5;
    background-color: white;
    overflow: hidden;
}
.playInterface.hide{
    display: none;
}
.page aside.siderbar{
    width: 190px;
    background-color: #fceee6;
}
.page aside.siderbar.hide{
    width: 46px;
}
.page .addOrAlbum{
    flex-grow: 1;
    position: relative;
}
.page .newSongsInformation,
.page main.computerAlbum{
    position: absolute;
    top: 89px;
    left: 0px;
}
/*aside*/
.uploadArea{
    height: 100px;
    width: 80%;
    margin: 20px 10%;
    border: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.uploadArea.hide{
    display: none;
}
.pickfiles{
    width: 100px;
    height: 75px;
    background-color: transparent;
    border: none;
    opacity: .5;
    outline: none;
}
.title{
    border-bottom: 1px solid #d9d9d9;
    line-height: 14px;
    font-size: 14px;
    padding: 14px 15px;
    display: flex;
    overflow: hidden;
}
.title svg{
    height: 14px;
}
.title .myMusic{
    margin-left: 17px;
    display: block;
}
.title .myMusic.hide{
    display: none;
}

.songList li{
    text-align: left;
    padding: 13px;
    font-size: 14px;
    line-height: 14px;
    position: relative;
}
.songList li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.songList li .eachSong{
    flex-grow: 1;
}
.songListOuter .songList li .serialNumber{
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    opacity: 0.3;
}
.songList li  a{
    width: 2em;
    height: 2em;
}
.songList li  a svg {
    font-size: 2em;
    z-index: 9;
}
.songList li div span{
    opacity: .3;
}
.songList li div .hot{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 3px;
}
.songList li.hide{
    display: none;
}
.songList li.active{
    background-color: #dddde1;
    margin-right: 0px;
}
.songList li.active:before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: #bc2f2e;
    position: absolute;
    left: 0px;
    top: 0px;
}
.songListOuter{
    flex-grow: 1;
    overflow: hidden;
}
.siderbar{
    display: flex;
    flex-direction: column;
}
.menu{
    line-height: 12px;
    padding: 17px 15px;
}
.menu svg{
    height: 12px;
    cursor: pointer;
}
/*main*/
.addOrAlbum{
    background-color: #fafafc;
}

main form{
    width:100%;
    padding: 20px;
}
main form .row label{
    display: inline-block;
    width: 40px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
}
main form .row .lyrics{
    vertical-align: top;
    margin-top: 10px;
}
main form .row textarea{
    margin: 10px;
    border-radius: 5px;
    width: 60%;
    height: 100px;
}
main form .row  input[type=text]{
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
}
main form .row button{
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    width: 80px;
    border: none;
    border-radius: 5px;
}
.page .addOrAlbum header{
    font-size: 14px;
    height: 46px;
    line-height: 14px;
    padding: 16px 5%;
}
.computerNav ul{
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #d3d3d3;
}
.computerNav ul li{
    list-style: none;
    padding: 13.5px 0px;
    line-height: 14px;
    margin: 0px 5%;
}
.computerNav ul li:nth-child(2){
    margin-left: 0%;
}
.computerNav ul li span{
    display: inline-block;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    cursor: default;
}
.computerNav ul li.active span{
    position: relative;
}
.computerNav ul li.active span:before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 26px;
    left: 0px;
}
.page .addOrAlbum main.computerAlbum{
    width: 90%;
    margin: 0% 5%;
}
.page .addOrAlbum main.computerAlbum div{
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 2%;
}
.page .addOrAlbum main.computerAlbum div:nth-child(3n+0){
    margin-right: 0%;
}
.page .addOrAlbum main.computerAlbum div img{
    width: 100%;
}
.page .addOrAlbum main.computerAlbum div figcaption{
    font-size: 14px;
    width: 100%;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.page .addOrAlbum main.computerAlbum.hide{
    display: none;
}
.page .addOrAlbum main.newSongsInformation.hide{
    display: none;
}
.site-loading{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-color: rgba(220,220,225,.5);
}
.site-loading::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
    animation: loading 1s infinite alternate-reverse linear;
}
@keyframes loading{
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}
.site-loading.hide{
    visibility: hidden;
}
.playInterface .xiyouji.hide,
.playInterface .shibintuji.hide,
.playInterface .gucunxinsi.hide,
.playInterface .yueyu.hide,
.playInterface .wuxia.hide{
    display: none;
}
.playInterface>div{
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0,0,0,.6)
}
.playInterface>div>img{
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
}
.playInterface>div span{
    display: none;
}
.playInterface .startPlaying{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.playInterface .startPlaying .CD,
.playInterface .startPlaying .lyrics{
    width: 50%;
    height: 100%;
    position: relative;
}
.playInterface .startPlaying .CD .disc{
    width: 310px;
    height: 310px;
    position: absolute;
    left: 50%;
    top: 5%;
    margin-left: -155px;
}
.playInterface .startPlaying .CD .disc:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: url(//s3.music.126.net/m/s/img/disc.png?d3bdd10…) no-repeat;
    background-size: 310px;
}
.playInterface .startPlaying .CD .disc:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: url(//s3.music.126.net/m/s/img/disc_light-ip6.png?996fc8a…) no-repeat;
    background-size: 310px;
    filter: normal;
}

div.needle{
    width: 90px;
    height: 20%;
    content: " ";
    position: absolute;
    left: 27%;
    top: 0px;
    z-index: 10;
    background: url(//s3.music.126.net/m/s/img/needle.png?702cf6d…) no-repeat;
    background-size: contain;
}
div.needle.paused{
    transform: rotate(-25deg);
    transform-origin:0% 0%;
}


.playInterface .startPlaying .CD .disc .stop,
.playInterface .startPlaying .CD .disc .play{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4em;
    height: 4em;
    margin-left: -2em;
    margin-top: -2em;
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
    z-index: 10;
}
.playInterface .startPlaying .CD .disc .stop.hide,
.playInterface .startPlaying .CD .disc .play.hide{
    display: none;
}
@keyframes rotating{
    from{transform:rotate(0)}
    to{transform:rotate(360deg)}
} 
.playInterface .startPlaying .CD .disc{
    animation:rotating 20s linear infinite;
    animation-play-state: running;
}
.playInterface .startPlaying .CD .disc.paused{
    animation:rotating 20s linear infinite;
    animation-play-state: paused;
}
.playInterface .startPlaying .playInformation{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 50%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.playInterface .startPlaying .lyricsOuter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 300px;
    font-size: 14px;
    overflow: hidden;
    border: 5px solid transparent;
}
.playInterface .startPlaying .lyricsOuter .lyrics{
    width: 100%;
    text-align: center;
}
.playInterface .startPlaying .lyricsOuter .lyrics p{
    width: 100%;
    height: 25px;
    line-height: 25px;
}
.playInterface .startPlaying .lyricsOuter .lyrics p.lyriclight{
  color: white;
}