@media screen and (max-width:768px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    ul,ol{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    body{
        font-size: 16px;
        width: 100vw;
    }
    .clearfix::after{
        content: '';
        display: block;
        clear: both;
    }
    .pageOuter{
        width: 100%;
        position: relative;
    }
    header{
        background-color: #d43c33;
        width: 100%;
        padding: 0px  2.6vw;
        height: 17vw;
    }
    header svg{
        height: 17vw;
        padding: 5.2vw 0px;
    }
    .topbar{
        box-sizing: border-box;
        width: 100%;
        height: 10.666666666667vw;
        outline: 1px solid #d3d3d3;
    }
    .topbar ol{
        display: flex;
    }
    .topbar ol li{
        width: 33.3333333333333333vw;
        text-align: center;
        color: #d43c33;
    }
    .topbar ol li span{
        display: inline-block;
        font-size: 4vw;
        line-height: 4vw;
        padding: 3.333333333333vw 5px;
        position: relative;
    }
    .topbar ol li.active span:before{
        content: '';
        width: 100%;
        height: 2px;
        background-color: red;
        position: absolute;
        top: 10.133333333333vw;
        left: 0px;
    }
    .album div{
        float: left;
        width: 32.768vw;
        margin-top: 3vw;
        margin-right: 0.848vw;
    }
    .album div:nth-child(3n){
        margin-right: 0vw;
    }
    .album div img{
        width: 100%;
    }
    .album div figcaption{
        font-size: 14px;
        width: 100%;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .title{
        width: 100vw;
        display: flex;
        line-height: 14px;
    }
    .title svg{
        width: 14px;
        height: 14px;
    }
    .newSongsInformationOuter{
        width: 100%;
        position: absolute;
        top: 30vw;
        left: 0vw;
    }
    .newSongsInformationOuter.hide{
        display: none;
    }
    .songListOuter.hide{
        display: none;
    }
    .album.hide{
        display: none;
    }
    .newSongsInformationOuter form{
        width:100%;
        padding: 20px;
    }
    
    .newSongsInformationOuter form .row label{
        display: inline-block;
        width: 10%;
        font-size: 14px;
    }
    .newSongsInformationOuter form .row  input[type=text]{
        padding: 5px;
        margin: 5%;
        font-size: 14px;
        border: 1px solid gray;
        border-radius: 5px;
        width: 80%;
    }
    .newSongsInformationOuter form .row button{
        font-size: 16px;
        padding: 5px;
        margin: 5%;
        width: 80px;
        border: none;
        border-radius: 5px;
    }
    .uploadArea{
        height: 35vw;
        width: 80vw;
        margin: 20px 10vw;
        border: 2px dashed gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        position: absolute!important; 
        left: 0px;
        top: 120vw!important;
    }
    .uploadArea.hide{
        display: none;
    }
    .pickfiles{
        width: 135vw;
        height: 20vw;
        background-color: transparent;
        border: none;
        opacity: .5;
        outline: none;
        position: relative;
    }
    .songListOuter{
        width: 100%;
    }
    .songListOuter .songList{
        width: 100%;
    }
    .songListOuter .songList li{
        width: 100vw;
        padding: 3vw 8vw;
        border-bottom:1px solid #d3d3d3;
    }
    .songList li{
        text-align: left;
        padding: 13px;
        font-size: 14px;
        line-height: 14px;
        position: relative;
    }
    .songList li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .songList li .eachSong{
        flex-grow: 1;
    }
    .songList li  a{
        width: 2em;
        height: 2em;
    }
    .songList li  a svg {
        font-size: 2em;
    }
    .songList li div span{
        opacity: .3;
    }
    .songList li div .hot{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-top: 3px;
    }
   
}